<!DOCTYPE html> 
<html> 
	<head> 
	<title>The People's Gallery 2012</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
</head> 
<body> 

<div data-role="page">

	<div data-role="header">
		<h1>Artwork Index</h1>
	</div><!-- /header -->

	<div data-role="content">	
        <ul data-role="listview" data-inset="true" data-filter="true">
        {% for artwork in artworks %}
            <li><a href="{% url artworks_view artwork.id%}">{{artwork.id}}. {{artwork.title}} - {{artwork.artist}}</a></li>
        {% endfor %}
        </ul>
	</div><!-- /content -->

</div><!-- /page -->

</body>
</html>
