<!DOCTYPE html> 
<html> 
	<head> 
	<title>The People's Gallery 2012</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
</head> 
<body> 

<div data-role="page">

	<div data-role="header">
		<h1>#artATX</h1>
	</div><!-- /header -->

	<div data-role="content">	
        <ul data-role="listview" data-inset="true">
            <li><a href="{% url artworks_level 1 %}">Floor 1</a></li>
            <li><a href="{% url artworks_level 2 %}">Floor 2</a></li>
            <li><a href="{% url artworks_level 3 %}">Floor 3</a></li>
        </ul>
        <center>
        Brought to you by:<br/>
        <img src='http://dl.dropbox.com/u/55826838/artatx-logos.png'>
        </center>
	</div><!-- /content -->

</div><!-- /page -->

</body>
</html>
